Tree structure generated by CPS does not match the model

Dell-base-common augments ietf-interfaces. 

The expectation would be that the keys should still be from ietf-interfaces instead of dell-base-common. Not the case. 

Additionally, to add to the confusion, while the keys are under dell-base-cmn, the data is still under if/ +/- augmentations.

This makes the whole interface tree non-interoperable versus upstream implementations without remapping and re-parenting it for presentation.

@kot-begemot-uk Hi Anton, I am not sure about the problem yet. 

Would be helpful, if you could please provide all the data as per the given guidelines: 
https://github.com/open-switch/opx-docs/wiki/Report-bugs

cps_get_oid.py if/interfaces/interface 'if/interfaces/interface/name=e101-001-0' should return _EXACTLY_ what is presently being returned by cps_get_oid.py dell-base-if-cmn/if/interfaces/interface 'if/interfaces/interface/name=e101-001-0'
Instead it returns nothing. 
This violates the concept of augmentation as described in RFC6020, RFC7950 (yang) and is incompatible with well established representations of RFC8040 (restconf) and 6241 (netconf)